
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <title>Index</title>
    <style>
        .btn a { color: white; text-decoration: none}
        body{ background-color: #F1F1F1;}
    </style>
</head>
<body>
<div class="text-center">
    <h2>We need to collect a little bit of information from you.</h2>
    <h3>Please click below to complete the form.</h3>
    <div class='btn btn-success'>
        @Html.ActionLink("Continue", "InfoForm")
    </div>

</div>
<div>
</div>
</body>
</html>
